<div class="login-page">
    <div class="login-container">
        <div class="app-card login-card">
            <div class="brand-section text-center">
                <i class="bi bi-shield-check brand-icon"></i>
                <h1 class="brand-title">InsuPro</h1>
                <p class="brand-subtitle">Insurance Policy & Claims Management</p>
            </div>

            <hr class="login-divider">

            <div class="text-center mb-4">
                <h2 class="page-title">Create Account</h2>
                <p class="page-subtitle">Join InsuPro by creating your account</p>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

                <div class="mb-3">

                    <label class="form-label-custom">
                        Full Name
                    </label>

                    <input type="text" class="form-control input-dark" formControlName="fullName" placeholder="Enter your full name">

                    <div
                        class="mt-2"
                        *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.dirty ||  registerForm.get('fullName')?.touched)">
                        <small class="text-danger" *ngIf="registerForm.get('fullName')?.hasError('required')">Full Name is require</small>
                        <small class="text-danger" *ngIf="registerForm.get('fullName')?.hasError('minlength')">Full Name must be at least 3 characters. </small>
                        <small class="text-danger" *ngIf="registerForm.get('fullName')?.hasError('maxlength')">Full Name cannot exceed 50 characters. </small>
                    </div>

                </div>

                <div class="mb-3">
                    <label class="form-label-custom"> </label>

                    <input type="email" class="form-control input-dark" formControlName="email" placeholder="Enter your email">

                    <div class="mt-2" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty ||  registerForm.get('email')?.touched)">

                        <small class="text-danger" *ngIf="registerForm.get('email')?.hasError('required')">Email is required. </small>

                        <small class="text-danger" *ngIf="registerForm.get('email')?.hasError('email')">Please enter a valid email address. </small>
                    </div>

                </div>


                <div class="mb-3">
                    <label class="form-label-custom">Password</label>
                    <input type="password" class="form-control input-dark" formControlName="password" placeholder="Enter your password">

                    <div class="mt-2" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty ||  registerForm.get('password')?.touched)">
                        <small class="text-danger" *ngIf="registerForm.get('password')?.hasError('required')"> Password is required.</small>
                        <small class="text-danger" *ngIf="registerForm.get('password')?.hasError('pattern')"> Password must be 8–20 characters and contain at least one uppercase letter, one lowercase letter, one number, and one special character (@ # $ !).</small>

                    </div>

                </div>

                <div class="mb-4">

                    <label class="form-label-custom"> Mobile Number</label>
                    <input type="text" class="form-control input-dark" formControlName="mobileNumber" placeholder="Enter your mobile number">
                    <div  class="mt-2"  *ngIf="registerForm.get('mobileNumber')?.invalid && (registerForm.get('mobileNumber')?.dirty ||  registerForm.get('mobileNumber')?.touched)">
                        <small class="text-danger" *ngIf="registerForm.get('mobileNumber')?.hasError('required')">
                            Mobile Number is required.
                        </small>

                        <small class="text-danger" *ngIf="registerForm.get('mobileNumber')?.hasError('pattern')">
                            Please enter a valid 10-digit mobile number.

                        </small>

                    </div>

                </div>

                <div class="text-center">
                    <button  type="submit"  class="btn-primary-custom"  [disabled]="registerForm.invalid"> Create Account</button>
                </div>
            </form>

            <div class="register-section text-center mt-4">
                <span class="register-text">Already have an account?</span>
                <a routerLink="/login" class="register-link ms-2">Sign In</a>

            </div>

        </div>


    </div>
</div>