
<div class="toast-container">

    <div
        *ngFor="let toast of toasts"
        class="toast-card"
        [ngClass]="toast.type">

        <div class="toast-icon">
            <i
                class="bi"
                [ngClass]="{
                    'bi-check-circle-fill': toast.type === ToastType.Success,
                    'bi-x-circle-fill': toast.type === ToastType.Error,
                    'bi-exclamation-triangle-fill': toast.type === ToastType.Warning,
                    'bi-info-circle-fill': toast.type === ToastType.Info
                }">
            </i>
        </div>

        <div class="toast-content">
            <h6>{{ toast.title }}</h6>
            <p>{{ toast.message }}</p>
        </div>

        <button
            type="button"
            class="toast-close"
            (click)="removeToast(toast.id)">
            <i class="bi bi-x-lg"></i>
        </button>

    </div>

</div>
